# Generated binary files.
*.vsix

# Dependency directories
node_modules/

# Logs
logs
*.log

# Temporary files.
.*.swp

# VS Code files for those working on multiple tools.
.anima
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
